* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  color: white;
}

.container {
  background-image: linear-gradient(to right top, #6bd1d1, #5cc9e7, #73bdf4, #9dadf1, #c69bdd, #e68ec6, #fb85a3, #ff857b, #fd934e, #e1ab1a, #acc400, #46da37);
  width: 100%;
  height: 100vh;
}

span {
  font-size: 100px;
  display: block;
  width: 100%;
}

p {
  line-height: 25px;
  word-wrap: break-word;
}


.wrapper {
  width: 90vmin;
  height: 400px;
  /* background: #07182E; */
  padding: 2rem;
  display: flex;
  place-content: center;
  place-items: center;
  overflow: hidden;
  border-radius: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  flex-direction: column;
  row-gap: 1rem;
}

#btn {
  padding: 0.75rem 0.6rem;
  border-radius: 10px;
  border: none;
  outline: none;
  background: rgb(228, 6, 6);
  text-shadow: 0 0 15px black;
  margin-top: 0.4rem;
  cursor: pointer;
  transition: all .3s;
}

#btn:hover {
  background-color: rgba(20, 167, 45, .7);
}

#btn.clicked {
  background: rgb(12, 230, 30);
}

















/* Card Animation */
.wrapper > * {
  z-index: 1;
  color: white;
  text-align: center;
}

.wrapper::before {
  content: '';
  position: absolute;
  width: 1000px;
  background-image: linear-gradient(180deg, rgb(240, 245, 241), rgb(228, 6, 6));
  height: 200px;
  animation: rotBGimg 3s linear infinite;
  transition: all 0.2s linear;
}

@keyframes rotBGimg {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.wrapper::after {
  content: '';
  position: absolute;
  background-image: linear-gradient(to right top, #051937, #004d7a, #008793, #00bf72, #a8eb12);
  inset: 5px;
  border-radius: 15px;
}